@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Company info:</p>
    <p>Name: @Model.CompanyName</p>
    <p>Phone: @Model.Phone</p>
    <p>Support e-mail: @Model.Email</p>
</div>
